section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    display: flex;
    width: 400%;
    height: auto;   
}

.slider-content input {
    display: none;
    position: fixed;
}

.slide-box {
    width : 25%;
    height: auto;
    position: relative;
    text-align: center; 
    transition: 3s;  
}

.slide-box img {
    width: 100%;
}

.nav-manual {
    position: absolute;
    width: 100%;
    bottom: 30px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn { 
    border: 2px solid #ff0054;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
} 
 
.nav-manual .manual-btn:hover {
    background-color:brown;
}

#radio1:checked~ .nav-auto .auto-btn1 {
    background-color: #ff0054;
}

#radio2:checked~ .nav-auto .auto-btn2 {
    background-color: #ff0054;
}

#radio1:checked~ .primeiro { 
    margin-left: 0%;
}

#radio2:checked~ .primeiro {
    margin-left: -25%;
}

<link rel="stylesheet" href="style2.css">
    <script src="slide.js" defer></script>